<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/article.css" type="text/css">
    <title>Article</title>
</head>
<body class="max-width-container">
    <div class="container">
        <div class="article-title">
            <h1>{{getArticle.article.title}}</h1>
        </div>
        <div class="author-profile">
            <div class="author-bio">
                <img src="/img/009.jpg">
                <div class="author">
                    <h2 class="author-name">{{getArticle.userArticle.name}}</h2>
                    <h2 class="author-username">{{getArticle.userArticle.username}}</h2>
                </div>
            </div>
            <div class="author-follow">
                <button>follow</button>
            </div>
        </div>
    </div>

        <section class="article container">
            <h3>12 Mins Read</h3>
            <img src="/{{getArticle.article.thumbnail}}" class="article-img">
            <p class="article-text">
                {{getArticle.article.body}}
            </p>
            <div class="article-metas">
                <div class="like-comment extra-width">
                    <span class="likes"><img src="/img/Star.svg"><h1>21k</h1></span>
                    <span class="likes"><img src="/img/Chat.svg"><h1>21k</h1></span>
                </div>
                <img src="/img/Bookmark.svg">
            </div>
        </section>

        <section class="related">
            {{!-- other related --}}
            <div class="container">
                <h1 class="related-heading">Related Topics</h1>
            </div>
            {{#each getArticle.relatedPosts}}
                <a href="/posts/{{../getArticle.loggedId}}/article/{{this._id}}">
                    <div class="background-wrapper">
                        <div class="blog-article container">
                            <div class="blog-image">
                                <img src="/{{this.thumbnail}}">
                            </div>
                            <div class="blog-piece">
                                <h1 class="blog-category">Tech</h1>
                                <h1 class="blog-title">{{sliceText this.title}}</h1>
                                <h2 class="blog-summary">{{sliceText this.body}}</h2>
                            </div>
                            <div class="blog-metas">
                                <div class="like-comment">
                                    <span class="likes"><img src="/img/Star.svg"><h1>21k</h1></span>
                                    <img src="/img/Bookmark.svg">
                                </div>
                                <div>
                                    <h1 class="time-posted">{{dateLocale this.timePosted}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </section>
</body>
</html>